@import "tailwindcss";

@font-face {
  font-family: 'Romie';
  src: url('/fonts/RomieTrial-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Romie';
  src: url('/fonts/RomieTrial-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Romie';
  src: url('/fonts/RomieTrial-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Romie';
  src: url('/fonts/RomieTrial-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Romie';
  src: url('/fonts/RomieTrial-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Romie';
  src: url('/fonts/RomieTrial-HeavyItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}

body {
  font-family: var(--font-instrument-serif);
  background-color: #181818;
  color: white;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Fade in animation for panel content */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
